# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.moved-aside
*.xcuserdatad/

# SwiftPM
.swiftpm/
.build/

# Tuist
*.xcodeproj
*.xcworkspace
Derived/
.tuist-generated/
Graph.xcworkspace
.cache/
TuistEnvs/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# App data
*.ipa
*.dSYM.zip
*.dSYM

# User settings
*.env
*.local

# Misc
*.DS_Store
*.swp
*.lock

# IDE
.vscode/
.idea/
.trae/

# Crashlytics
crashlytics-build.properties
com_crashlytics_export_strings.xml

# Tuist Local Configuration
*.xcconfig.local

# SPM
Package.resolved

# Xcode Previews
Preview Content/
